.container{
    margin: 120px auto;
    text-align: center;
    background-color: grey;
}
#height{
   padding: 4px;
   margin: 0 3px;
   border-radius: 15;
   border: 2px solid black;
}
#weight{
   padding: 4px;
   margin: 0 3px;
   border-radius: 15;
   border: 2px solid black;

}
button{
   padding: 0px 30px;
   height: 35px;
   width: 150px;
   margin: 13px 0px 0px 80px;
   border: 1px solid black;
   border-radius: 8px;
   color: black;
   font-size: 20px;
}
#weight-guide {
   margin-left: 75px;
   margin-top: 25px;
 }
 
 #results {
   font-size: 35px;
   margin-left: 90px;
   margin-top: 20px;
   color: rgb(241, 241, 241);
 }